* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    color: #f8f9fa;
    font-size: 105px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

h2 {
    color: #f8f9fa;
    font-size: 22px;
}

h3 {
    font-family: 'Varela Round', sans-serif;
}

h4 {
    font-family: 'Varela Round', sans-serif;
}

p {
    font-size: 14px;
}

/* MENU */

.nav {
    height: 70px;
    width: 100%;
    background: #829dad;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: space-around;
}

.nav .container ul {
    display: flex;
    padding-right: 250px;
   
}

.nav .container li {
    list-style: none;
    margin-left: 50px;
    
}

.nav .container a {
    text-decoration: none;
    color: #fff;
}

.nav .container img {
    display: none;
}

/* BACKGROUND/BANNER */

.banner {
    width: 100%;
    height: 420px;
    background-image: url('../img/foto-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner__subtitle {
    text-align: center;
}

.btn {
    background: #829dad ;
    padding: 10px 20px ;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 30px;
    text-decoration: none;
    color: #fff;
}

.about {
    background: rgba(0, 0, 0, 0.747);
    height: 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.about p {
    color: #fff;
    font-size: 14px;
}

/* SIBÉRIA */

.destination {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    
}

.destination img {
    max-width: 600px;
}

.destination__text {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

/* GROELANDIA e ANTARTIDA */

.destination--groenlandia{
    display: flex;
    justify-content: center;
    
}

.destination--groenlandia img {
    max-width: 408px;
}

.destination__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #000;
    opacity: 0.9;
    height: 272px;
    width: 408px;
    
}

.destination__title {
    padding: 10px 10px 10px 30px;
    color: #fff;
}

.destination_paragraph {
    padding: 10px 10px 10px 30px;
    color: grey;
}

.destination--antartida{
    display: flex;
    justify-content: center;
}

.destination--antartida img {
    max-width: 408px;
}

.destination__description--antartida .destination__title {
    display: flex;
    justify-content: flex-end;
}

.destination__description--antartida .destination_paragraph {
    display: flex;
    justify-content: center; 
    color: red;
}

/* FOOTER */

footer {
    background: #000;
    opacity: 0.9;
    width: 100%;
    height: 230px;
    background: cover;
    background-position: center;
    margin-top: 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__socialmedia {
    display: flex;
    justify-content: center;
  }

  .footer ul {
    list-style: none;
  }

  .footer ul li {
    margin: 25px 0 25px 15px;

  }

  .footer a {
    text-decoration: none;
    color: #829dad;
  }