* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Varela Round', Helvetica, sans-serif;
    color: #f8f9fa;
    font-size: 105px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    opacity: 0.9;   
    font-weight: normal; 
}

h2 {
    color: #f8f9fa;
    font-size: 22px;
    font-weight: normal;
}

h3, h4 {
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
}


p {
    font-size: 14px;
}

/* MENU */

.nav {
    height: 70px;
    width: 100%;
    background: #829dad;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: space-around;
}

.nav .container ul {
    display: flex;
   
}

.nav .container ul li {
    list-style: none;
    margin-right: 50px; 
}

.nav .container ul li a {
    text-decoration: none;
    color: #fff;
}

.nav .container ul li :hover {
    color:rgba(0, 0, 0, 0.747);
}

.nav__menu span {
    padding-right: 200px;
}

.nav .container ul img {
    display: none;
}


/* BACKGROUND/BANNER */

.banner {
    width: 100%;
    height: 75vh;
    background-image: url('../img/foto-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner__subtitle {
    text-align: center;
    max-width: 475px;
}

/* BANNER */

.btn {
    background: #829dad ;
    padding: 15px 30px ;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 30px;
    text-decoration: none;
    color: #fff;
}


.about {
    background: rgba(0, 0, 0, 0.747);
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.about__title {
    font-weight: bold;
}

.about p {
    color: #fff;
    font-size: 14px;
    padding: 10px 400px 0 400px;
}

/* SIBÉRIA */

.destination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
    
}

.destination img {
    max-width: 550px;
}

.destination__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 250px;
    margin-left: 13px;
   }

.destination__text h3 {
    padding-bottom: 5px;
}

/* GROENLANDIA e ANTARTIDA */

.destination--groenlandia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.destination--groenlandia img {
    max-width: 408px;
}

.destination__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #000;
    opacity: 0.9;
    height: 45vh;
    width: 408px;
    
}

.destination__title {
    padding: 10px 10px 10px 30px;
    color: #fff;
}

.destination_paragraph {
    padding: 10px 10px 10px 30px;
    color: #999;
}

.destination--antartida{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.destination--antartida img {
    max-width: 408px;
}

.destination__description--antartida .destination__title {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.destination__description--antartida .destination_paragraph {
    display: flex;
    text-align: right;
    color:#999;
     padding-right: 30px;
}


/* FOOTER */

footer {
    background: #000;
    opacity: 0.9;
    width: 100%;
    height: 230px;
    background: cover;
    background-position: center;
    margin-top: 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__socialmedia {
    display: flex;
    justify-content: center;
  }

  .footer ul {
    list-style: none;
  }

  .footer ul li {
    margin: 25px 0 25px 15px;

  }

  .footer a {
    text-decoration: none;
    color: #829dad;
  }

  /* MEDIA */

  @media (max-width: 425px) {
    
    .nav {
        background: #fff;
        
    }

    .nav .container ul li {
        display: none;
    }

    .nav .container ul img {
        display: block;
        text-align: right;
        margin-right: 15px;
    }

    h1 {
        font-size: 55px;
        text-align: center;
        letter-spacing: 12px;
        margin-bottom: 5px;
    }

    .banner{
        background-image: url('../img/foto-bunner-mobile.jpg');
    }

    .banner__subtitle {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .btn {
        padding: 15px 40px ;
    }

    .about {
        height: 310px;
    }

    .about h2 {
        padding-top: 40px;
    }

    .about p {
        padding: 30px;
        font-size: 16px;
    }

    .destination img {
        max-width: 100%;
    }

    .destination__text  {
        text-align: center;
        padding: 20px 40px;
    }

    .destination__text p {
        font-size: 15px;
        padding-top: 5px;
        max-width: none;
    }

/* GROELANDIA */

.destination__description--groenlandia .destination__title {
    text-align: center;
    font-size: 22px;
}

.destination__description--groenlandia .destination_paragraph {
    text-align: center;
    font-size: 16.4px;
    padding: 5px 30px;
}   

.destination--groenlandia img{
    max-width: 100%;
}

/* ANTARTIDA */

    .destination--antartida {
        margin-top: 40px;
    }

    .destination--antartida img{
        max-width: 100%;
    }
     
    .destination__description--antartida .destination__title {
        justify-content: center;
        font-size: 22px;
        max-width: 100%;
    }
    
    .destination__description--antartida .destination_paragraph {
        text-align: center;
        font-size: 16.4px;
        max-width: 100%;
    }

    .destination__description {
        max-width: 100%;
    }
  }